   body{
            background-color: black;
            
        }
        .div1{
            display: inline-block;
            margin: 5px;
        }
.div1{
    width: 300px; height: 400px; 
    
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(21, 20, 20);
}
.div1:hover{
    background-color: rgb(53, 49, 49);
   
}
img{
    border-radius: 20px;
    width: 300px;
    height: 150px;
}
div h1{
    color: white;
    text-align: center;
}
div .div1 p{
    color: white;
    font-size: 10px;
}
b{
    color: rgb(10, 182, 53);
    
    line-height: 150PX;
}

div .div1 a{
    margin-left: 150px;
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: white;
    color: black;
    text-decoration: none;
}
div .div1 a:hover{
    background-color: blue;
    color: white;
}

